<strong>Olá, {{ student }}</strong>
<P>Sua matrícula está confirmada! Confira os detalhes abaixo:</P>
<p>
  <strong>Plano: </strong> {{ plan }} <br />
  <strong>Encerramento da matrícula: </strong> {{ date }} <br />
  <strong>Valor: </strong> {{ price }} <br />
  <br />
  <small>
    Seja muito bem-vindo à Gympoint! É muito bom tê-lo conosco. <br/>
    Qualquer dúvida estamos à diposição.
  </small>
</p>
